html {
    scroll-behavior: smooth;
  }


body{
    margin: 0px;
    padding: 0px;
    background-color:khaki;
    font-family: Arial, Helvetica, sans-serif;

}

.contenedorMaestro{
    position:relative;
    top: 3vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    align-items: stretch;
    padding-top: 7vh;

}

.contenedorPadre{
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 1vh;
    width: 27vw;
}


button{
    border-style: none;
    box-shadow: 0 3px #999;
    border-radius: 10% 10% 30% 30%;
    transition-duration: 0.1s;
    margin: 1vw;
}
button:active{
    border-style: none;
    transform: translateY(2px);
    box-shadow: 0 1px #999;
}

header{
    padding: 1vh;
    position: fixed;
    z-index: 2;
    background-color: rgb(204, 255, 102);
    width: 100vw;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    height: 7vh;
}


.pageButton{
    opacity: 0;
    background-color: rgb(173, 214, 92);
    height: 5vh;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    border-radius: 0%;
}

.logo{
    font-family: Monaco, Verdana, Arial;
    font-size: 35px;
    color: black;
}

input{
    background-color: rgba(255, 255, 255, 50%);
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: olivedrab;
    outline: none;
    transition-duration: 0.2s;

    
}
input:focus{
    background-color: rgba(255, 255, 255, 90%);;
}

.inputContainer{
    display: flex;
    align-items: baseline;
    margin: 2vw;
}

.bottom{
    height: 5rem;
}


/* ANIMACION */

@keyframes fade {
    from{opacity: 0;}
    to{opacity: 1;}
    
}




/* MEDIA QUERY */
@media screen and (max-width:768px){
/* Responsive */
    .contenedorPadre{
        margin-left: 1rem;
        margin-top: 1rem;
        padding: 1vh;
        width: 100vh;
    }

    .logo{
        font-size: 1rem;
    }

    .status{
        font-size: 1vw;
    }

    
}